/* CSS code will be in this document */

body{
    width: 90%;
    margin: 0 auto;
}

#content {
    overflow: auto;
}

#nav, #portfolio-projects, #footer {
    margin: 1%;
}

.about, .educational-background, .coding-languages {
    width: 31.3%;
    float: left;
    margin: 1%;
    font-family: Arial, cursive;
    text-align: center;
}

.coding-languages {
    margin-right: 0%;
}

.nav {
    display: inline;
    padding: 0.5em;
    text-align: center;
}

#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
    font-family: Arial, cursive;
}

#portfolio-projects, .article {
    margin-bottom: 1em;
    background-color: #efefef
}

*{
  box-sizing: border-box;
}

.coding-languages > h3 {
  color: darkred;
}

.about > h3 {
  color: darkred;
}

.educational-background > h3 {
  color: darkred;
}

p{
    text-align: center;
}

img{
    width: 100%;
    height: 250px;
}

h1{
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    color: darkred;
}

h2{
    text-align: center;
    color: darkred;
}