
    body {
        margin: 0;
      }
     
      header {
        background-color:darkred;
        margin-bottom: 40px;
      }
      
      header h1 {
        font-size: 40px;
        color: #fff;
        text-align: center;
        margin: 0;
        padding-top: 20px;
      }
      
      header nav {
        display: flex;
        justify-content: center;
      }
      
      header nav ul {
        display: flex;
        padding-left: 0;
        list-style: none;
      }
      
      header nav ul li a {
        font-family: sans-serif;
        color: #fff;
        text-decoration: none;
        margin: 0 20px 0 0;
      }
      header nav ul li:last-child a {
        margin-right: 0;
      }
      
      h2{
        text-align: center;
        font-size: 40px;
        color: darkred;
    }
.group{
    background-color: white;
    display: flex;
}
.about {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    flex:1;
  }
  .group h1 {
      color: darkred;
  }
  
.aboutme {
    color: black;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: darkred;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 40px;
    color: darkred;
    padding: 15px;

  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

.skill-confidence {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    flex: 1.5;
  }
  .skill-confidence h1 {
      color: darkred;
  }
  .skill-confidence h2 {
    color: darkred;
}

.container {
  width: 100%; 
  background-color: #ddd; 
}

.skills {
  text-align: right;
  padding-top: 10px; 
  padding-bottom: 10px;
  color: white; 
}

.html {
    width: 75%; 
    background-color: darkred;
} 
.css {
    width: 60%;
     background-color: Darkred;
    }
.js {
    width: 65%;
    background-color:  Darkred;
}
.cpp {
    width: 40%;
    background-color:  Darkred;
}

.python {
    width: 50%;
    background-color:  Darkred;
}
.pm {
    width: 60%;
    background-color:  Darkred;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
    font-family: arial;
  }

  .contactForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    flex: 1.5;
  }

  input[type=text], input[type=email], textarea{
      flex:2;
      padding: 12px;
      border: 1px solid darkred;
      border-radius: 4px;
      margin-top: 6px;
      margin-bottom: 16px;
      box-sizing: border-box;
      resize: vertical;
  }

  .wrapper {
    margin: auto;	
    background-color: darkred;
    text-align:center;
    font-size: 20px;
    color: white;
  }

  .wrapper a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 15px;
  }
  .gap-footer {
    height: 10px;
    width: auto;
}

@media all and (min-width: 800px) {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      flex-direction: row;
    }
  
    header h1 {
      font-size: 42px;
      margin: 14px 0;
      padding-top: 6px;
    }
    
    header nav {
      margin-top: 14px;
    }
  
    header nav ul li a:hover {
      color: #bdbdbd;
    }
  }